html {
    background-color: rgb(238, 238, 238);
}

.isud_header, .conferenceInfo {

    margin-left: auto;
    margin-right: auto;
    margin-top: .5%;
    padding-top: .5%;
    text-align: center;
}
.isud_header a{
    text-decoration: none;
}
.isud_header img {
    display: inline-block;
    height: auto;
    max-width: 5%;
    vertical-align: middle;
}

.conferenceInfo{
    background-color: #814CC8;
    color:#f2f2f2;
    padding: 10px 10px;
}

.whatWhereWhyConference img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* max-width: 80%;
    border-radius: 25px;
    margin-top: .5%;
    padding-top: .25%; */
  }

  .whatWhereWhyConference{
    position: relative;
  text-align: center;
  color: white;
  }
  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .textWWWC{
    font-weight: bold;
    background-color: #71717182;
    padding: 1em;
  }

  .whyNewYork {
    text-align: left;
    font-size: 1em;
    line-height: 1.2em;
    padding: 1.2em;
  }
  input {
    box-sizing: border-box;
    width: 97%;
    padding: 12px 20px;
    margin: 8px 1.5%;
    border-radius: 6px;
    background-color: rgb(255, 235, 212);
  }
  input[type=submit]:hover {
    background-color: #ed87a6;
    color: black;
  }
  input[type=submit] {
    font-family: 'Lato', 'Franklin Gothic';
    font-style: italic;
    background-color: #41098B;
    color: white;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #41098B;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* border-radius: 6px; */
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ed87a6;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #814CC8;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    box-sizing:border-box;
    /* max-width: 1000px; */
    max-height: 350px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    box-sizing:border-box;
    display: none;
    
  }

  .mySlides img{
    width:100%;
    max-height: 350px;
    /* max-height: 350px; */
  }
  
  /* Next & previous buttons */
  .prev, .next {
    box-sizing:border-box;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    box-sizing:border-box;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    box-sizing:border-box;
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    box-sizing:border-box;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    box-sizing:border-box;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    box-sizing:border-box;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    box-sizing:border-box;
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    box-sizing:border-box;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media screen and (min-width: 600px) {
    .slideshow-container {
        max-width: 50%;
        max-height: fit-content;
      }

      .mySlides img{
        width:100%;
        max-height: fit-content;
        border-radius: 25px;
      }

      .whatWhereWhyConference img {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        max-width: 80%;
        border-radius: 25px;
        margin-top: .5%;
        padding-top: .25%;
      }
      
      .whatWhereWhyConference {
        width: 45%;
        float: left;
        margin-left: 3%;
      }

      .whyNewYork {
        /* text-align: center; */
        font-size: 1.2em;
        line-height: 1.44em;
        padding: 1.44em;

        width: 45%;
        float: right;
        margin-right: 3%;
      }
      input {
        width: 100%;
      }

      #submit {
        width: fit-content;
        display: block;
        margin: 0 auto;
        font-size: 0.9em;
      }
    }